Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Remove trailing slash
RedirectMatch 301 ^(.+)/$ $1

RewriteRule ^(.*)$ index.php [QSA,L]